html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-gray-90);
  background-color: var(--color-gray-10);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-white);
}

h1, .h1 {
  @include fluid-text(68, 34);

  font-weight: 600;
}

h2, .h2 {
  @include fluid-text(58, 38);

  font-weight: 600;
}

h3, .h3 {
  @include fluid-text(48, 28);

  font-weight: 600;
}

h4, .h4 {
  @include fluid-text(30, 20);

  font-weight: 600;
}

h5, .h5 {
  @include fluid-text(26, 20);

  font-weight: 600;
}

h6, .h6 {
  @include fluid-text(22, 16);

  font-weight: 500;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition: var(--transition-duration);
}

a {
  color: var(--color-gray-90);

  @include hover {
    color: var(--color-green-50);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

.header,
.content > *:not(:last-child),
.footer {
//  display: none !important;
}



