.field {
  display: grid;
  row-gap: fluid(20, 14);
  padding: fluid(24, 18) fluid(40, 24);
  background-color: var(--color-gray-24);
  border: var(--border);
  border-radius: fluid-to-laptop(8, 6);

  &.support__form-cell--wide {
    padding: fluid(40, 24);
  }

  &__required-star {
    color: darkred;
  }

  &__body {
    display: flex;
    width: 100%;
  }

  &__control {
    width: 100%;
    height: fluid-to-laptop(33, 30);
    border: none;
    border-bottom: var(--border);
    background-color: transparent;
    color: var(--color-white);

    @include hover {
      border-bottom-color: var(--color-white);
    }

    &:user-invalid {
      border-bottom-color: darkred;
    }

    &:disabled {
      @include disabled;
    }

    &::placeholder {
      color: var(--color-gray-40);
    }
  }

  textarea.field__control {
    resize: vertical;
    min-height: fluid-to-laptop(73, 64);
  }
}