.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-block: 20px;
  border-bottom: var(--border);
  background-color: var(--color-gray-10);
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  @mixin scrolling-header-styles {
    padding-block: 10px;
    box-shadow: 0 0 1rem 0 var(--color-gray-60);
  }

  @keyframes scrolling-header {
    to {
      @include scrolling-header-styles;
    }
  }

  @supports (not (animation-timeline: scroll())) {
    @include scrolling-header-styles;
}

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-10);
    border: none;
    transition-duration: var(--transition-duration);
    transition-behavior: allow-discrete;

    @include tablet-above {
      display: contents;
    }

    @mixin starting-styles {
      opacity: 0;
      translate: 50%;
    }

    @include tablet {
      &[open] {
        display: flex;

        @starting-style {
          @include starting-styles;
        }
      }

      &:not([open]) {
        @include starting-styles;
      }
    }
  }

  &__menu {
    overflow-y: auto;

    &-list {
      display: flex;
      align-items: center;

      @include tablet {
        flex-direction: column;
        margin-block: auto;
      }
    }

    &-link {
      padding: fluid-to-laptop(14, 12) fluid-to-laptop(28, 22);

      &.is-active {
        color: var(--color-white);
        background-color: var(--color-gray-15);
        border-radius: fluid-to-laptop(8, 6);
        font-weight: 600;
        pointer-events: none;
      }
    }

    &-button {
      @include tablet {
        width: 100%;
        max-width: 390px;
        justify-content: center;
        margin-inline: auto;
      }
    }
  }

  &__burger-button {
    position: relative;
  }
}