.works-card {
  &__header {
    padding: fluid(30, 20) fluid(50, 24);
    border-bottom: var(--border);
  }

  &__paragraph {
    color: var(--color-gray-60);
    font-weight: 500;
  }

  &__body {
    display: grid;
    row-gap: fluid(30, 20);
    padding: 30px fluid(50, 24) fluid(100, 40);

    @include mobile {
      padding-top: 20px;
    }
  }

  &__image {
    width: 100%;
    border-radius: fluid-to-laptop(12, 10);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  &__info {
    display: grid;
    row-gap: 10px;
  }

  &__title {
    color: var(--color-gray-90);
    font-size: fluid-to-laptop(24, 18);
  }

  &__badge {
    @include fluid-text(20, 14);

    color: var(--color-gray-60);
  }

  &__link {
    padding: 10px;
    color: var(--color-green-50);

    .button__icon {
      @include square(fluid-to-laptop(34, 26));
    }
  }
}