.reviews-card {
  display: flex;
  flex-direction: column;
  row-gap: fluid(40, 24);
  height: 100%;
  padding: fluid(100, 40);

  &__title {
    @include fluid-text(28, 18);

    color: var(--color-green-80);
  }

  &__respondent {
    display: flex;
    align-items: center;
    column-gap: fluid(18, 10);
    padding: fluid-to-laptop(21, 14);
    background-color: rgba(36, 36, 36, 0.20);
    border: var(--border);
    border-radius: fluid-to-laptop(8, 6);
    margin-top: auto;

    &-container {
      @include square(fluid(60, 40));

      position: relative;
      display: flex;
      flex-shrink: 0;
      border-radius: fluid(8, 4);
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(172, 255, 36, 0.30) 0%, rgba(172, 255, 36, 0.30) 100%);
      }
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-name {
      font-size: fluid-to-laptop(20, 16);
      font-weight: 500;
      color: var(--color-white);
    }

    &-button {
      margin-left: auto;
    }
  }
}